@import "tailwindcss";

:root {
  --sand: #e4d6a7;
  --mustard: #e9b44c;
  --bricka: #9b2915;
  --bermuda: #50a2a7;
  --nav-height: 65px;
}

@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "GFSDidot-Regular";
  src: url("../fonts/GFSDidot-Regular.ttf") format("truetype");
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@theme {
  --color-sand: var(--sand);
  --color-bermuda: var(--bermuda);
  --color-brick: var(--bricka);
  --color-mustard: var(--mustard);
  --height-nav-h: var(--nav-height);
  --font-didot: "GFSDidot", "serif";
  --font-quicksand: "Quicksand", "sans-serif";

  --fade-in-animation: fadeInOpacity var(--animation-duration, 1s)
    var(--animation-delay, 0s) ease-in-out forwards;
}

@layer utilities {
  section {
    @apply flex min-h-[calc(100vh-65px)] scroll-mt-[65px] flex-col justify-center pt-0;
  }
  p {
    @apply pb-2 font-light md:text-lg lg:text-2xl 2xl:pb-4 2xl:text-3xl;
  }
}

body {
  font-family: "Quicksand", san-serif;
  font-weight: 600;
  background-color: black;
  color: var(--sand);
}

html {
  scroll-behavior: smooth;
}

p {
  color: var(--sand);
}

a,
.btn {
  transition: all 300s ease;
}

.menu-links.open {
  max-height: max-content;
  overflow: visible;
  background-color: black;
  width: 200px;
  top: 200%;
  right: -30px;
  list-style: none;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:nth-child(2) {
  opacity: 1;
}

.hamburger-icon span:last-child {
  transform: none;
}

#name-overlay {
  background-color: rgba(0, 0, 0, 0.87);
  color: var(--sand);
  opacity: 0;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

#dev-overlay {
  background-color: rgba(0, 0, 0, 0.87);
  color: white;
  opacity: 0;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-delay: 2s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

#generative-artist-overlay {
  background-color: rgba(0, 0, 0, 0.87);
  opacity: 0;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-delay: 4s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
  color: var(--sand);
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: var(--bermuda);
  color: var(--sand);
}

.btn-color-1:hover {
  background: black;
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: var(--brick) 0.1rem solid;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  background: black;
  border-radius: 2rem;
  border: var(--sand) 0.1rem solid;
  text-align: center;
}

.text-container {
  width: 50%;
  justify-content: center;
}
.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

.color-container {
  border-color: black;
  background: var(--brick);
}

.project-img {
  border-radius: 2rem;
  width: 90%;
  height: 90%;
}

.project-title {
  margin: 1rem;
  color: var(--sand);
}

footer {
  margin: 1rem;
}

footer p {
  text-align: center;
}
